apiVersion: 1

datasources:
  - name: ClickHouse
    type: grafana-clickhouse-datasource
    isDefault: true
    jsonData:
      host: clickhouse
      port: 9000
      protocol: native
      secure: false
      username: default
      defaultDatabase: analytics
    secureJsonData:
      password: clickhouse
